<html>
   <head>
      <style type="text/css">
         body {
               background-color: orange;
               background-image: url('https://cdn-icons-png.flaticon.com/512/3075/3075929.png');
               background-repeat: no-repeat;
               background-position: bottom center;
         }
         
      </style>
   </head>
   <body>
      <!-- <form method="post" action="http://0.0.0.0/param">
         <input type="text" name="name" value="" placeholder="input your name here">
         <input type="submit"> -->
      <form action = "/result" method = "POST">
         <center>

            <h1>🍰강남역 맛집 추천 서비스🍰</h1>
            <h2>가게이름 or 키워드 </h2>
            <p>ex: 족발, 연어, 메로구이, 초코케이크, 스콘 ...</p>
            <p><input type = "text" name = "name" /></p>

            <h2>최대 가격 </h2>
            <p>ex : 5000, 15000, 20000, ... ,50000</p> 
            <p>(‼️정확한 추천을 원하시는 분은 max값=50000으로 지정하시길 바랍니다‼️)</p>
            <p><input type = "text" name = "num" /></p>
            <p><input type = "submit" value = "submit" /></p>

         </center>
      </form>
      
   </body>
</html>
